@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="orderNo" name="订单号" underline="true"/>

                    <#input id="payType" name="付款方式" underline="true"/>

                    <#input id="carryFeeTotal" name="运送总费用" underline="true"/>

                    <#input id="productTotal" name="产品总金额" underline="true"/>

                    <#input id="exchangeScore" name="兑换总积分" underline="true"/>

                    <#input id="remark" name="备注" underline="true"/>

                    <#input id="createTime" name="下单时间"
                            clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>


                </div>
                <div class="col-sm-6">
                    <div id="driverInfoContent">

                        <#input id="account" name="用户账号" underline="true"/>

                        <#input id="carry" name="运送方式" underline="true"/>

                        <#input id="quantity" name="产品总数量" underline="true"/>

                        <#input id="amount" name="订单总金额" underline="true"/>

                        <#input id="requirement" name="客户要求" underline="true"/>

                        <#select id="status" name="订单状态">
                            <option value="done">完成</option>
                            <option value="pay">支付成功</option>
                            <option value="sending">配送中</option>
                            <option value="undone" selected="true">未完成</option>
                        </#select>

                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="OrderInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="OrderInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/sefarm/order/base/order_info.js"></script>
@}
