@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="orderId" name="订单id" underline="true"/>

                    <#input id="payAmount" name="支付金额" underline="true"/>

                    <#input id="payType" name="支付方式" underline="true"/>

                    <#input id="appId" name="公众号id" underline="true"/>

                    <#input id="nonceStr" name="随机字符串" underline="true"/>

                    <#input id="signType" name="签名类型" underline="true"/>

                    <#input id="mchId" name="商户号" underline="true"/>

                    <#input id="tradeType" name="交易类型" underline="true"/>

                    <#input id="errCode" name="错误码" underline="true"/>

                    <#input id="payIp" name="支付ip地址" />

                </div>
                <div class="col-sm-6">
                    <div id="driverInfoContent">

                        <#input id="account" name="用户账号" underline="true"/>

                        <#input id="createTime" name="支付时间" underline="true"
                                clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>

                        <#input id="openid" name="用户唯一标识" underline="true"/>

                        <#input id="timeStamp" name="支付秒级时间戳" underline="true"/>

                        <#input id="prepayId" name="订单详情扩展字符串" underline="true"/>

                        <#input id="paySign" name="签名" underline="true"/>

                        <#input id="deviceInfo" name="设备号" underline="true"/>

                        <#input id="payStatus" name="支付状态" underline="true"/>

                        <#input id="errCodeDes" name="错误码描述" />

                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="OrderPayInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="OrderPayInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/sefarm/order/pay/pay_info.js"></script>
@}
