<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sefarm.dao.system.SysDeptMapper">
  <resultMap id="BaseResultMap" type="com.sefarm.model.system.SysDeptDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="pids" jdbcType="VARCHAR" property="pids" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <!-- add by mc 2018-4-4 获取部门ztree -->
  <select id="getDeptZtree" resultType="com.sefarm.common.node.ZTreeNode">
    SELECT id, pid AS pId, name,
    (
      CASE
      WHEN (pId = 0 OR pId IS NULL) THEN
      'true'
      ELSE
      'false'
      END
    ) AS isOpen FROM sefarm_sys_dept
  </select>

</mapper>