<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sefarm.dao.system.SysLogMapper">
  <resultMap id="BaseResultMap" type="com.sefarm.model.system.SysLogDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="agent" jdbcType="VARCHAR" property="agent" />
    <result column="request_uri" jdbcType="VARCHAR" property="requestUri" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="params" jdbcType="LONGVARCHAR" property="params" />
    <result column="exception" jdbcType="LONGVARCHAR" property="exception" />
  </resultMap>
</mapper>