<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sefarm.dao.system.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.sefarm.model.system.SysMenuDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="is_menu" jdbcType="INTEGER" property="isMenu" />
    <result column="levels" jdbcType="INTEGER" property="levels" />
    <result column="pcode" jdbcType="CHAR" property="pcode" />
    <result column="pcodes" jdbcType="VARCHAR" property="pcodes" />
    <result column="is_open" jdbcType="INTEGER" property="isOpen" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <!--根据用户角色来获取所能操作菜单-->
  <select id="getMenusByRoleId" resultType="com.sefarm.common.node.MenuNode">
    SELECT
      m.id AS id,
      m.icon AS icon,
      (
        CASE
        WHEN (pm.id = 0 OR pm.id IS NULL) THEN
        0
        ELSE
        pm.id
        END
      ) AS parentId,
      m.name as name,
      m.url as url,
      m.levels as levels,
      m.is_menu as ismenu,
      m.sort as num
      FROM
      sefarm_sys_menu m
      LEFT JOIN sefarm_sys_menu pm ON m.pcode = pm.code
      INNER JOIN (
          SELECT
          ssrm.sys_menu_id AS id
          FROM
          sefarm_sys_role_menu ssrm
          WHERE ssrm.sys_role_id = #{roleId}
      ) ssm ON m.id = ssm.id
    WHERE m.is_menu = 1
    ORDER BY m.levels ASC , m.sort DESC
  </select>

  <!--角色菜单权益配置，根据角色id获取权限下的菜单id-->
  <select id="getMenuIdsByRoleId" resultType="java.lang.Long">
    SELECT sys_menu_id FROM sefarm_sys_role_menu WHERE sys_role_id = #{roleId}
  </select>

  <!--获取所有的菜单树-->
  <select id="getAllMenuTree" resultType="com.sefarm.common.node.ZTreeNode">
    SELECT
		ssm.id AS id,
		(
          CASE
          WHEN (pssm.id = 0 OR pssm.id IS NULL) THEN
          0
          ELSE
          pssm.id
          END
		) AS pId,
		ssm.name AS name,
		(
          CASE
          WHEN (pssm.id = 0 OR pssm.id IS NULL) THEN
          'true'
          ELSE
          'false'
          END
		) AS open
		FROM
		sefarm_sys_menu ssm
		LEFT JOIN sefarm_sys_menu pssm ON pssm.code = ssm.pcode
		ORDER BY ssm.id ASC
  </select>

  <!--根据用户权限下的菜单id获取菜单树-->
  <select id="getMemuTreeByMenuIds" resultType="com.sefarm.common.node.ZTreeNode">
    SELECT
    m.id AS id,
    (
      CASE
      WHEN (pm.id = 0 OR pm.id IS NULL) THEN
      0
      ELSE
      pm.id
      END
    ) AS pId,
    m.name AS name,
    (
      CASE
      WHEN (pm.id = 0 OR pm.id IS NULL) THEN
      'true'
      ELSE
      'false'
      END
    ) AS open,
    (
      CASE
      WHEN (sm.id = 0 OR sm.id IS NULL) THEN
      'false'
      ELSE
      'true'
      END
    ) AS checked
    FROM
    sefarm_sys_menu m
    LEFT JOIN sefarm_sys_menu pm ON pm.code = m.pcode
    LEFT JOIN (
      SELECT
      id
      FROM
      sefarm_sys_menu
      WHERE
      id IN
      <foreach collection="list" index="index" item="i" open="("
               separator="," close=")">
        #{i}
      </foreach>
    ) sm on sm.id = m.id
    ORDER BY m.id ASC
  </select>
</mapper>