<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sefarm.dao.user.UserMapper">
  <resultMap id="BaseResultMap" type="com.sefarm.model.user.UserDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="access_token" jdbcType="VARCHAR" property="accessToken" />
    <result column="account_type" jdbcType="VARCHAR" property="accountType" />
    <result column="rank" jdbcType="VARCHAR" property="rank" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="getUserDOList" resultMap="BaseResultMap">
    SELECT *
    FROM sefarm_user
    <where>
      <if test="name != null and '' != name">
        AND (name LIKE CONCAT('%', #{name}, '%') OR nickname LIKE CONCAT('%', #{name}, '%'))
      </if>
      <if test="mobile != null and '' != mobile">
        AND (mobile LIKE CONCAT(#{mobile}, '%') OR openid LIKE CONCAT(#{mobile}, '%'))
      </if>
      <if test="address != null and '' != address">
        AND (country = #{address} OR province = #{address} OR city = #{address})
      </if>
      <if test="sex != null and sex > -1">
        AND sex = #{sex}
      </if>
      <if test="status != null and '' != status">
        AND status = #{status}
      </if>
      <if test="createTimeBegin != null and '' != createTimeBegin">
        <![CDATA[
          AND DATE_FORMAT(create_time, '%Y-%m-%d') >= DATE_FORMAT(#{createTimeBegin}, '%Y-%m-%d')
        ]]>
      </if>
      <if test="createTimeEnd != null and '' != createTimeEnd">
        <![CDATA[
          AND DATE_FORMAT(create_time, '%Y-%m-%d') <= DATE_FORMAT(#{createTimeEnd}, '%Y-%m-%d')
        ]]>
      </if>
      <if test="lastLoginTimeBegin != null and '' != lastLoginTimeBegin">
        <![CDATA[
          AND DATE_FORMAT(last_login_time, '%Y-%m-%d') >= DATE_FORMAT(#{lastLoginTimeBegin}, '%Y-%m-%d')
        ]]>
      </if>
      <if test="lastLoginTimeEnd != null and '' != lastLoginTimeEnd">
        <![CDATA[
          AND DATE_FORMAT(last_login_time, '%Y-%m-%d') <= DATE_FORMAT(#{lastLoginTimeEnd}, '%Y-%m-%d')
        ]]>
      </if>
    </where>
    ORDER BY ${sortName} ${sortOrder}
  </select>

  <insert id="saveUserByObj" parameterType="com.sefarm.model.user.UserDO" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO sefarm_user (name, mobile, nickname, openid, sex, headimgurl, country, province, city, language, access_token, account_type, rank, amount, score, status, create_time, last_login_time, update_by, update_time)
    VALUES(#{name}, #{mobile}, #{nickname}, #{openid}, #{sex}, #{headimgurl}, #{country}, #{province}, #{city}, #{language}, #{accessToken}, #{accountType}, #{rank}, #{amount}, #{score}, #{status}, #{createTime}, #{lastLoginTime}, #{updateBy}, #{updateTime})
  </insert>

</mapper>