@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>系统菜单管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-10 col-sm-9">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3">
                                        <#NameCon id="name" name="菜单/编号" />
                                    </div>
                                    <div class="col-lg-3 col-sm-3">
                                        <#NameCon id="level" name="层级" />
                                    </div>
                                    <div class="col-lg-3 col-sm-3">
                                        <#TimeCon id="beginTime" name="注册开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                                    </div>
                                    <div class="col-lg-3 col-sm-3">
                                        <#TimeCon id="endTime" name="注册结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-3">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        <#button name="搜索" icon="fa-search" clickFun="SysMenu.search()"/>
                                        <#button name="重置" icon="fa-trash" clickFun="SysMenu.resetSearch()" space="true"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs" id="managerTableToolbar" role="group">
                            @if(shiro.hasPermission("/api/sys-menu/save")){
                            <#button name="添加" icon="fa-plus" clickFun="SysMenu.openSaveSysMenu()" />
                            @}
                            @if(shiro.hasPermission("/api/sys-menu/update")){
                            <#button name="修改" icon="fa-edit" clickFun="SysMenu.openUpdateSysMenu()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/api/sys-menu/remove")){
                            <#button name="删除" icon="fa-remove" clickFun="SysMenu.delSysMenu()" space="true"/>
                            @}
                        </div>
                        <#table id="sysMenuTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/sefarm/system/sysmenu/sysmenu.js"></script>
@}
