@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>订单配送</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-10 col-sm-9">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3">
                                        <#NameCon id="orderNo" name="订单号"/>
                                    </div>
                                    <div class="col-lg-3 col-sm-3">
                                        <#NameCon id="deptName" name="部门名"/>
                                    </div>
                                    <div class="col-lg-3 col-sm-3">
                                        <#NameCon id="name" name="配送人" />
                                    </div>
                                    <div class="col-lg-3 col-sm-3">
                                        <#select id="status" name="状态" underline="true">
                                            <option value="new" selected="selected">新增</option>
                                            <option value="check">审核中</option>
                                            <option value="ready">待发货</option>
                                            <option value="delivery">已发货</option>
                                            <option value="sign">已签收</option>
                                            <option value="cancel">已取消</option>
                                        </#select>
                                    </div>
                                    <div class="col-lg-3 col-sm-3">
                                        <#TimeCon id="beginTime" name="创建开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                                    </div>
                                    <div class="col-lg-3 col-sm-3">
                                        <#TimeCon id="endTime" name="创建结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-3">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        <#button name="搜索" icon="fa-search" clickFun="OrderDelivery.search()"/>
                                        <#button name="重置" icon="fa-trash" clickFun="OrderDelivery.resetSearch()" space="true"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs" id="managerTableToolbar" role="group">
                            <#button name="添加" icon="fa-plus" clickFun="OrderDelivery.openSaveOrderDelivery()" />
                            <#button name="修改" icon="fa-edit" clickFun="OrderDelivery.openUpdateOrderDelivery()" space="true"/>
                            <#button name="删除" icon="fa-remove" clickFun="OrderDelivery.delOrderDelivery()" space="true"/>
                        </div>
                        <#table id="orderDeliveryTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/sefarm/order/delivery/delivery.js"></script>
@}
