@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${orderDeliveryVO.id}">
            <input type="hidden" id="statusValue" value="${orderDeliveryVO.status}">

            <div class="row">
                <div class="col-sm-6 b-r">

                    <#input id="orderId" name="订单id" underline="true" value="${orderDeliveryVO.orderId}"/>

                    <#input id="sysDeptId" name="系统部门id" underline="true" value="${orderDeliveryVO.sysDeptId}"/>

                    <#input id="receiver" name="收货人名" underline="true" value="${orderDeliveryVO.receiver}"/>

                    <#input id="mobile" name="收货电话" underline="true" value="${orderDeliveryVO.mobile}"/>

                    <#input id="expressName" name="快递" underline="true" value="${orderDeliveryVO.expressName}"/>

                    <#select id="status" name="状态" underline="true">
                        <option value="new" selected="true">新增</option>
                        <option value="check">审核中</option>
                        <option value="ready">待发货</option>
                        <option value="delivery">已发货</option>
                        <option value="sign">已签收</option>
                        <option value="cancel">已取消</option>
                    </#select>

                    <#input id="updateBy" name="更新状态人" underline="true" value="${orderDeliveryVO.updateBy}"/>

                    <#input id="receiveTime" name="收货时间" value="${orderDeliveryVO.receiveTime}"
                            clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>

                </div>
                <div class="col-sm-6">
                    <div id="driverInfoContent">

                        <#input id="orderNo" name="订单号" underline="true" value="${orderDeliveryVO.orderNo}" disabled="disabled"/>

                        <#input id="sysUserId" name="配送人id" underline="true" value="${orderDeliveryVO.sysUserId}"/>

                        <#input id="address" name="收货地址" underline="true" value="${orderDeliveryVO.address}"/>

                        <#input id="createTime" name="创建时间" underline="true" value="${orderDeliveryVO.createTime}"
                                clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>

                        <#input id="expressNo" name="快递单号" underline="true" value="${orderDeliveryVO.expressNo}"/>

                        <#input id="updateTime" name="状态更新时间" underline="true" value="${orderDeliveryVO.updateTime}"
                                clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>

                        <#input id="deliveryTime" name="发货时间" underline="true" value="${orderDeliveryVO.deliveryTime}"
                                clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>

                        <#input id="remark" name="备注" value="${orderDeliveryVO.remark}"/>

                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="OrderDeliveryInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="OrderDeliveryInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/sefarm/order/delivery/delivery_info.js"></script>
@}
