@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="productId" name="产品id" underline="true"/>

                    <#input id="account" name="用户帐号" underline="true"/>

                    <#input id="content" name="评论内容" underline="true"/>

                    <#input id="remark" name="备注" underline="true"/>

                    <#input id="replier" name="回复人" underline="true"/>

                    <#input id="replyTime" name="回复时间" underline="true"
                            clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>

                </div>
                <div class="col-sm-6">
                    <div id="driverInfoContent">

                        <#input id="orderId" name="订单id" underline="true"/>

                        <#input id="name" name="用户名" underline="true"/>

                        <#input id="star" name="星级" underline="true"/>

                        <#select id="status" name="状态" underline="true">
                            <option value="y">开启</option>
                            <option value="n">停用</option>
                        </#select>

                        <#input id="reply" name="回复评论" underline="true"/>

                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ProductCommentInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ProductCommentInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/sefarm/product/comment/comment_info.js"></script>
@}
