@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>产品目录管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-10 col-sm-9">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-12">
                                        <#NameCon id="name" name="目录名" />
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <#TimeCon id="beginTime" name="创建开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <#TimeCon id="endTime" name="创建结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-3">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        <#button name="搜索" icon="fa-search" clickFun="ProdCatalog.search()"/>
                                        <#button name="重置" icon="fa-trash" clickFun="ProdCatalog.resetSearch()" space="true"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs" id="managerTableToolbar" role="group">
                            @if(shiro.hasPermission("/api/prod-cata/save")){
                            <#button name="添加" icon="fa-plus" clickFun="ProdCatalog.openSaveProdCatalog()" />
                            @}
                            @if(shiro.hasPermission("/api/prod-cata/update")){
                            <#button name="修改" icon="fa-edit" clickFun="ProdCatalog.openUpdateProdCatalog()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/api/prod-cata/remove")){
                            <#button name="删除" icon="fa-remove" clickFun="ProdCatalog.delProdCatalog()" space="true"/>
                            @}
                        </div>
                        <#table id="prodCatalogTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/sefarm/product/catalog/catalog.js"></script>
@}
